:root {
  --background-color: linear-gradient(184deg, rgba(241,97,6,1) 0%, rgba(237,92,0,1) 100%);
  --text-color: #ed5c00;
}



body{
    font-family: "Lato", sans-serif;
    background-color: #f2f2f2;    
}

.about_relative_div{
    position:realtive;
    min-height:200px;
    
}
.about_relative_div img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:auto;
    width:auto;
    max-height:90%;
    max-width:90%;
}
.head_item2,.head_item3 span{
    margin: auto;
    color: #fff;
    border-radius: 5px;
    background: var(--background-color);
    padding: 0px 25px;
    font-size:20px;
    margin:auto;
    text-align:center;
    font-weight:bold;
    margin-bottom:20px;
}
.head_item3{
    display:flex;
    justify-content:center;
}
#problem_btn {
	position: fixed;
	bottom: 20px;
	left: 10px;
	z-index: 9999999;
	padding: 8px 20px;
	background: #f74814;
	color: #fff;
	border-radius: 20px;
	font-size: 14px;
	outline: 0;
	border: 0px;
	font-weight: bold;
	transition: .3s;
	box-shadow: 0px 0px 5px 0px #f74814;
	border: 1px solid #fff;
	display:none;
}

#donation_btn {
	position: fixed;
	bottom: 20px;
	right: 60px;
	z-index: 9999999;
	padding: 8px 20px;
	background: #f74814;
	color: #fff;
	border-radius: 20px;
	font-size: 14px;
	outline: 0;
	border: 0px;
	font-weight: bold;
	transition: .3s;
	box-shadow: 0px 0px 5px 0px #f74814;
	border: 1px solid #fff;
	text-decoration: none;
	display:none;
}

#donation_btn:hover {
	background: #f74814;

	transition: .3s;
}

#problem_btn:hover {
	background: #f74814;
	background: #eb5e34;
	transition: .3s;
}

#phone_btn {
	position: fixed;
	bottom: 15px;
	right: 10px;
	z-index: 99999999;
	color: #fff;
	box-shadow:0px 0px 10px 2px green;
	border-radius: 50%;
}

#phone_btn img {
	height: 60px;
	width: 60px;
}

#phone_btn:hover {
	box-shadow: 0px 0px 5px 5px green;
	border-radius: 50%;
}

.main_slider .carousel-control-prev-icon,.main_slider .carousel-control-next-icon{
    background-size:20px 20px!important;
    border:1px solid #fff;
    padding:25px!important;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover{
    background-color:var(--text-color);
}
/*===========================slider start======================*/
.main_slider .carousel-item{
    height:550px;
}
.main_slider .carousel-item img{
    height:100%;
}
@media only screen and (max-width:768px){
.main_slider .carousel-item{
    height:auto;
}

.main_slider .carousel-control-prev-icon,.main_slider .carousel-control-next-icon{
    background-size:20px 20px!important;
    border:0px solid #fff;
    padding:25px!important;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover{
    background-color:none
}

}
/*===========================slider end========================*/


/*===========================grid container start========================*/
.grid_left_div {
    grid-area: a;
    padding:20px;
    }
.grid_center_div{
    grid-area: b;
    padding:20px;

    }
.grid_right_div{
    grid-area: c;
    padding:20px;
    }
.grid_container{
    display:grid;
    grid-template-areas:
    'a b c';
    grid-template-columns: 300px 1fr 300px;
    margin-bottom:20px;
}

/*====================================================================*/
.member_slider {
    /*padding:10px 20px;*/
    width:100%;
    margin:auto;
    border-radius:5px;
    padding:12px;
    background:#fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom:5px;
}
.member_slider .carousel-control-prev-icon,.member_slider .carousel-control-next-icon {
    /*background-color:black;*/
}
.member_slider .carousel-inner .card{
    margin:0;
    padding:20px;
}
.member_slider .carousel-inner .card .card-body{
    margin:0;
    padding:0px;
    background:rgba(0,0,0,.2);
    margin-top:5px;
    margin-bottom:5px;
    border-radius:2px;
}
.member_slider .carousel-inner .card h5{
    margin:0;
    margin-top:5px;
    font-size:18px;
    padding:0px;
    color:#fff;
}
.member_slider .carousel-inner .card h5:nth-child(2){
    margin-bottom:10px;
}
.member_slider .carousel-inner .card .card-img-top{
    width:100%;
    height:200px;
    display:block;
    margin:auto;
    border:2px solid rgba(255,255,255,.5);
    border-radius:10px;
    overflow:hidden;
    background:rgba(255,255,255,.5);
}
.view_all_btn{
    display:block;
    text-align:center;
    margin-bottom:20px;
    cursor:pointer;
    color:var(--text-color)!important;
    font-weight:bold;
}
/*========================================================================================*/
.content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 5px;
    padding:10px;
    background:#fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content img {
    border-radius: 5px;
    width:100%;
    height:auto;
}
.content .content-overlay {
    background: var(--text-color)!important;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay {
    opacity: .7;
}
.content-image {
width: 100%;
}
.content-details {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
}
.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.arrow {
    margin-left: 8px;
}
.content h3 {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
}
.content:hover h3 {
    -webkit-transform: translate3d(-1rem, 0, 0);
    transform: translate3d(-1rem, 0, 0);
}
.content i {
    position: absolute;
    width: 1.1em;
    right: -1.4rem;
    opacity: 1;
    top: 38%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 300ms ease-out;
    will-change: right, opacity;
}
.content:hover i {
    opacity: 1;
    right: -3rem;
}

/*==================================================================*/
.buttons{
   display:flex;
   grid-column-gap:10px;
   color:#fff;
   width:550px;
   overflow-x:auto;
   margin:auto;
    padding-bottom:10px;
    margin-bottom:15px;
   transition:.3s;
}

.buttons::-webkit-scrollbar {
height: 6px;
}
.buttons::-webkit-scrollbar
{   
    margin-bottom:20px;
	height:5px;
	background-color: #eee;
}

.buttons::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.buttons button:hover {
	opacity: 0.6;
	transition:.3s;
}

.buttons a{
    text-decoration:none;
    cursor:pointer;
}
.buttons a button{
    display:flex;
    flex-direction:column;
    grid-row-gap:5px;
    justify-content:center;
    align-items:center;
    color:#fff!important;
    height:80px;
    font-weight:bold;
    font-size:12px;
    padding:10px;
    width:120px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border:0;
    border-radius:5px;
    cursor:pointer;
    background: rgb(241,97,6);
background: linear-gradient(184deg, rgba(241,97,6,1) 0%, rgba(237,92,0,1) 100%);
}
.buttons a button i{
    font-size:25px;
}
/*==================================================================*/
.center-div {
    width: 90%;
    height: 700px;
    margin: auto;
    margin-bottom: 100px;
    overflow-x: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 12px;
}
.img_div iframe::-webkit-scrollbar,
.center-div::-webkit-scrollbar,
html::-webkit-scrollbar {
	width: 6px;
}

.center-div::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
	background: rgb(223, 226, 229);
	border-radius: 10px;
}

.center-div::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
	background: var(--background-color);
	border-radius: 10px;
}

.center-div::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
	background: var(--text-color);
	border-radius: 10px;
}

.center-div::-webkit-scrollbar-thumb:active,
html::-webkit-scrollbar-thumb:active {
	background: rgb(68, 68, 68);
	border-radius: 10px;
}
/*==================================================================*/
.marquee_parent{
    padding:12px;
    border-radius:5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background:#fff;
}
.marquee_parent_sub{
    padding:20px;
    background:var(--background-color);
    border-radius:5px;
}
marquee {
    font-size: 16px;
    text-align: center;
    width:100%;
    margin: auto;
    display: block;
    border-radius: 5px;
    padding: 10px;
    background:rgba(255,255,255,.9);
    
}
marquee p{
    color:var(--text-color);
}
.img_div {
	display: flex!important;
	justify-content:center!important;
	margin: auto;

}
.img_div iframe{
    display: flex;
	justify-content:center;
	width:100%;
	height:300px!important;
    border:1px solid gray!important;
}
/*=========================== About Us =======================================*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
    .blog-slider {
    width: 95%;
    position: relative;
    max-width: 80%;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    min-height: 400px;
    height: auto;
    transition: all 0.3s;
    }
    a {
    text-decoration: none !important;
    }
    @media screen and (max-width: 1170px) {
    .navbar_margin {
        margin-top:60px;
    }
    } 
    @media screen and (max-width: 992px) {
    .blog-slider {
    max-width: 680px;
    height: 400px;
    }
    }
    @media screen and (max-width: 768px) {
    .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto 20px auto;
    }
    .img_div iframe{
        width:auto!important;
    }
    }
    @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
    height: 350px;
    margin:auto;
    padding:0;
    }
    }

    .blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
    }
    .blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
    }
    .blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
    }
    .blog-slider__button,.blog-slider__button1  {
    display: inline-block;
    padding: 5px 15px;
    justify-content: end;
    float: right;
    border-radius: 50px;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
    border: 1px solid rgba(252, 56, 56, 0.4);
    font-weight: bold;
    justify-content: center;
    background:var(--background-color);
    text-align: center;
    letter-spacing: 1px;
    font-size:12px;
    }
     .blog-slider__button,.blog-slider__button1 a{
         color:#fff;
     }
     .blog-slider__button1:hover{
         color:#fff!important;
     }
    
  

    .blog-slider__text {
    color: #000 !important;
    height: 250px;
    overflow-y: scroll;
    margin-bottom: 30px;
    /* line-height: 1.5em; */
    }
   


    @media screen and (max-width: 576px) {
    .blog-slider__button {
    width: 100%;
    }
    .blog-slider__button1 {
    width: 100%;
    }
    }
/*================================our objectives =======================*/
.motive {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
    background-color: #fff;
    padding: 10px;
    overflow-x: scroll;
    gap: 20px;
    flex-wrap:wrap;
    padding: 30px 10px;
}
.motive .motive_img_div {
	border-radius: 5px;
	height: 130px;
	width: 130px;
	position:relative;
	/*background:var(--background-color);*/
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	display:block;
	margin:auto;
}
.motive .motive_img_div img{
    border-radius:5px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:auto;
    height:auto;
    max-width:95%;
    max-height:95%;
}
.motive p {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
    text-align: center;
    transition:all .3s;
}
.motive p:hover {
	color: var(--text-color);
	text-decoration: none;
	transition:all .3s;
}
/*==================youtube videos==============*/
.youtube_div {
width:90%;
margin:auto;
background-color: #fff;
}

.row_youtube .youtube_div2 {
padding: 20px; 
}
.youtube_2 iframe {
height: 300px !important;
width: 100%!important;
padding: 0 !important;
display: block;
margin: auto !important;
border-radius:10px!important;

}

   
/*===========================grid container end========================*/

@media only screen and (max-width:1200px){
.head_item2,.head_item3 span{
    font-size:16px;
}
.grid_container{
    grid-template-columns: 250px 1fr 250px;
}
.member_slider {
    /*padding:10px 20px;*/
    width:100%;
    margin:auto;
    border-radius:5px;
    margin-bottom:5px;
    padding:12px;
    background:#fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.member_slider .carousel-control-prev-icon,.member_slider .carousel-control-next-icon {
    /*background-color:black;*/
}
.member_slider .carousel-inner .card{
    padding:10px;
}

.member_slider .carousel-inner .card h5{
    font-size:14px;
}

.member_slider .carousel-inner .card .card-img-top{
    width:140px;
    height:170px;
}
    .buttons{
        width:350px;
    }
    
}
.content-details h3{
    font-size:18px;
}
/*============================================*/
@media only screen and (max-width:1000px){
.head_item2,.head_item3 span{
    font-size:20px;
    padding:1px 10px;
}
.grid_container{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    'b a'
    'c c';
}
.right_content_1{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap:20px;
}
.youtube_2 iframe {
height: 200px !important;
width: 100% !important;

}
}

@media only screen and (max-width:768px){
.img_div iframe::-webkit-scrollbar,
.center-div::-webkit-scrollbar,
html::-webkit-scrollbar {
	width: 4px;
}
.buttons::-webkit-scrollbar
{   
    margin-bottom:20px;
	height:0px;
	background-color: #eee;
}
.center-div{
    height:auto;
    max-height:500px;
}
.grid_center_div{
    padding:10px;
}
.head_item2,.head_item3 span{
    font-size:20px;
    padding:1px 15px;
    margin-top:10px;
}
#problem_btn,#donation_btn{
    padding:4px 9px;
    border-radius:15px;
    font-size:15px;
    bottom:20px;
}
#phone_btn{
    bottom:14px;
}
#phone_btn img{
    height:45px;
    width:45px;
}
.center-div{
    padding:10px;
    border-radius:5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border:0;
    
}
.grid_container{
    display:grid;
    grid-template-columns:1fr;
    grid-template-areas:
    'b'
    'a'
    'c';
}
.left_content_1{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap:20px;
    
}
.member_slider .carousel-inner .card{
    padding:20px;
}

.member_slider .carousel-inner .card h5{
    font-size:18px;
}

.member_slider .carousel-inner .card .card-img-top{
    width:180px;
    height:220px;
}
.motive{
    width:90%;
    margin:auto;
}
.motive img {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.motive p {
    font-size: 12px;
}
.youtube_2 iframe {
height: 300px !important;
width: 100%!important;

}
}
@media only screen and (max-width:550px){
    
.left_content_1{
    display:grid;
    grid-template-columns:1fr;
}
.center-div{
    width:100%;
}
.right_content_1{
    grid-template-columns:1fr;
}
.member_slider .carousel-inner .card .card-img-top{
    width:250px;
    height:270px;
}
.member_slider .carousel-inner .card h5{
    font-size:22px;
}
.img_div{
    height:350px;
	background:#eee;
	width:100%;
}
.buttons{
    width:340px;
}
.youtube_2 iframe {
height: 200px !important;
width: 100%!important;
}
}






